/*-------------------------------------------------------

     Atom name: Menu

-------------------------------------------------------*/

.geo-menu__button {
  cursor: pointer;
  position: relative;
  .geo-arrow {
    position: absolute;
    left: 12px;
    top: 18px;
    white-space: nowrap;
    &:before {
      content: "";
      cursor: pointer;
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid transparent;
      border-left: 6px solid $gray;
      margin-right: 10px;
    }
    &.geo-arrow--down {
      top: 22px;
      &:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-top: 6px solid $gray;
      }
    }
  }
}

.geo-menu {
  background: $white;
  border: 2px solid $gray-light;
  display: none;
  list-style: none;
  padding: 12px 24px;
  position: absolute;
  z-index: 999;
  &.geo-menu--bottom-left {
    &:before, &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-top: 0;
    }

    &:before {
      top: -13px;
      right: 2px;

      border-bottom-color: $gray-light;
      border-width: 13px;
    }

    &:after {
      top: -10px;
      right: 5px;

      border-bottom-color: $white;
      border-width: 10px;
    }
  }
  li {
    padding: 10px 0;
  }
  a {
    color: $black-light;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
  .geo-menu--full {
    display: flex;
    flex-direction: column;
    width: 310px;
    .menu-full__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .menu-full__infos {
        margin-left: 10px;
        p {
          margin: 5px 0;
        }
      }
    }
    .menu-full__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px -24px 0 -24px;
      padding: 12px 24px 0;
      border-top: 1px solid $gray-light;
    }
  }
}


@media screen and (max-width: 100%) {
  .geo-arrow {
    left: 7px;
  }
}