h1 {
  color: $black-light;

  font-size: 1.5em;
  font-weight: lighter;
  width: 100%;
}

h2 {
  color: $blue;

  font-size: 1em;
  font-weight: bold;
  width: 100%;

  text-transform: uppercase;
}

h3 {
  font-size: 1.125em;
  font-weight: 400;
}

h4 {
  font-size: 0.9em;
  font-weight: 400;
}

h5 {
  font-size: 0.9em;
  font-weight: 400;
}

h6 {
  font-size: 0.9em;
  font-weight: 400;
}