<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Geo Framework</title>
  <meta name="description" content="Framework Geosiap">
  <link rel="shortcut icon" href="images/favicon.png">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="js/angular-gist.min.js"></script>
  <script src="js/application.js"></script>

  <script src="dist/1.2/js/geo-framework.min.js"></script>
  <link rel="stylesheet" href="dist/1.2/css/geo-framework.min.css">
</head>

<body ng-app="app">

  <div class="geo-framework">
    <div class="geo-nav__header--mobile">
      <span class="geo-mobile__toggle"><img src="images/icons/menu.svg" alt="Abrir menu"></span>
    </div>
    <div class="geo-nav__overlay"></div>

    <nav class="geo-nav">
      <div class="geo-nav__header">
        <svg data-logo="expand"><use xlink:href='images/icons.svg#icon-assets'/></svg>
        <img src="images/logo_geosiap-reduced.png" alt="Logo Geosiap" data-logo="reduced">
      </div>
      <div class="geo-nav__menu">
        <a class="geo-menu__button" ng-href="#/logos" ng-class="{active: page == 'logos'}" ng-click="page = 'logos'">
          <svg><use xlink:href='images/icons.svg#icon-geo-ball'/></svg>
          <span>Logos</span>
        </a>
        <a class="geo-menu__button" ng-href="#/icons" ng-class="{active: page == 'icons'}" ng-click="page = 'icons'">
          <svg><use xlink:href='images/icons.svg#icon-att'/></svg>
          <span>Icons</span>
        </a>
        <a class="geo-menu__button" ng-href="#/flex-grid" ng-class="{active: page == 'flex-grid'}" ng-click="page = 'flex-grid'">
          <svg><use xlink:href='images/icons.svg#icon-grid'/></svg>
          <span>Flex Grid</span>
        </a>
        <a class="geo-menu__button" ng-href="#/inputs" ng-class="{active: page == 'inputs'}" ng-click="page = 'inputs'">
          <svg><use xlink:href='images/icons.svg#icon-input'/></svg>
          <span>Inputs</span>
        </a>
        <a class="geo-menu__button" ng-href="#/buttons" ng-class="{active: page == 'buttons'}" ng-click="page = 'buttons'">
          <svg><use xlink:href='images/icons.svg#icon-button'/></svg>
          <span>Buttons</span>
        </a>
        <a class="geo-menu__button" ng-href="#/toggles" ng-class="{active: page == 'toggles'}" ng-click="page = 'toggles'">
          <svg><use xlink:href='images/icons.svg#icon-toggle'/></svg>
          <span>Toggles</span>
        </a>
        <a class="geo-menu__button" ng-href="#/tables" ng-class="{active: page == 'tables'}" ng-click="page = 'tables'">
          <svg><use xlink:href='images/icons.svg#icon-table'/></svg>
          <span>Tables</span>
        </a>
        <a class="geo-menu__button" ng-href="#/alerts" ng-class="{active: page == 'alerts'}" ng-click="page = 'alerts'">
          <svg><use xlink:href='images/icons.svg#icon-alert'/></svg>
          <span>Alerts</span>
        </a>
        <a class="geo-menu__button" ng-href="#/cards" ng-class="{active: page == 'cards'}" ng-click="page = 'cards'">
          <svg><use xlink:href='images/icons.svg#icon-cards'/></svg>
          <span>Cards</span>
        </a>
        <a class="geo-menu__button" ng-href="#/menus" ng-class="{active: page == 'menus'}" ng-click="page = 'menus'">
          <svg><use xlink:href='images/icons.svg#icon-menus'/></svg>
          <span>Menus</span>
        </a>
      </div>
      <div class="geo-nav__footer"></div>
    </nav>

    <main class="geo-framework__content">
      <header class="geo-header">
        <span class="geo-header__title"><a href="#">Nome do lugar que está sendo trabalhado</a></span>

        <div class="geo-header__info">
          <a class="geo-menu__button" id="menu-user" data-menu>
            <svg><use xlink:href='images/icons.svg#icon-usuario_info'/></svg>
          </a>
        </div>
      </header>

      <div ng-view></div>

    </main>
  </div>
  <div class="geo-menu geo-menu--bottom-left" data-geo-for="menu-user">
    <div class="geo-menu--full">
      <div class="menu-full__header">
        <img src="images/profile-picture.jpg" class="profile-picture">
        <div class="menu-full__infos">
          <p><strong>Nome do usuário</strong></p>
          <p>email@email.com</p>
        </div>
      </div>
      <div class="menu-full__actions">
        <a href="#">Alterar perfil</a>
        <a href="#">Sair</a>
      </div>
    </div>
  </div>
</body>
</html>