/*-------------------------------------------------------

     Boson name: Colors

-------------------------------------------------------*/

$white: #FFFFFF!default;

$black-light: #747474!default;

$gray: #BCC0C7!default;
$gray-light: #edf0f4!default;

$red: #e74c3c!default;
$red-light: #FFEBEE!default;
$red-dark: #B71C1C!default;

$green: #88d535!default;
$green-dark: #33691E!default;

$blue: #4C87FF!default;
$blue-dark: #0D47A1!default;

