/*-------------------------------------------------------

     Boson name: Colors

-------------------------------------------------------*/

$white: #FFFFFF!default;

$black-light: #747474!default;

$gray: #BCC0C7!default;
$gray-light: #edf0f4!default;

$red: #e74c3c!default;
$red-light: rgba(231, 76, 60, 0.1)!default;

$green: #88d535!default;

$blue: #4C87FF!default;

