/*-------------------------------------------------------

     Boson name: Icon Inside

-------------------------------------------------------*/

@mixin boson-icon-inside {
  content: "";
  display: inline-block;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
