/*-------------------------------------------------------

     Boson name: Icons

-------------------------------------------------------*/

svg {
	width: 24px;
	height: 24px;
  fill: $blue;
  &:hover {
    fill: $gray;
  }
}