/*-------------------------------------------------------

     Boson name: Icons

-------------------------------------------------------*/

svg {
	width: 24px;
	height: 24px;
  padding: 0 10px;
  fill: $COLOR-PRIMARY;
  &:hover {
    fill: $COLOR-DISABLE;
  }
}