/*-------------------------------------------------------

     Organism name: Header

-------------------------------------------------------*/

.geo-nav {
  display: flex;
  flex-direction: column;

  min-width: 250px;
  max-width: 250px;
  min-height: 100%;
  max-height: 100%;

  border-right: 2px solid $gray-light;
  transition: ease all .2s;

  .geo-nav__header {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    max-height: 70px;
    padding: 20px;

    background-color: $blue;

    img {
      max-height: 35px;
    }
  }
  .geo-nav__menu {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: $white;

    .geo-menu__button {
      display: flex;

      box-sizing: border-box;
      cursor: pointer;
      padding: 15px 15px 15px 30px;
      width: 100%;
      span, a {
        text-decoration: none;
        color: $gray;
        font-size: .95em;
      }
      svg {
        padding-right: 10px;
        fill: $gray;
        vertical-align: middle;
      }
      &:hover, &.active {
        background-color: $gray-light;
        span, a {
          color: $blue;
        }
        svg {
          fill: $blue;
        }
      }
    }
  }
  .geo-nav__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    max-height: 70px;
    padding: 20px;

    background-color: $white;
    color: $gray;
    cursor: pointer;

    &:before {
      content: "<";
    }
  }

  &.geo-nav--reduced {
    min-width: 75px;
    max-width: 75px;
    .geo-nav__menu {
      .geo-menu__button {
        span {
          display: none;
        }
      }
    }
    .geo-nav__footer {
      &:before {
        content: ">";
      }
    }
  }
}
