.geo-framework {
  display: flex;

  min-height: 100vh;
}

.geo-framework__content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

@media screen and (max-width: 1200px) {
  .geo-framework {
    flex-direction: column;
  }
}