/*-------------------------------------------------------

     Atom name: Logo

-------------------------------------------------------*/

%atom-logo {
  max-width: 150px;
  max-height: 42px;
  margin: 5px 0;
  vertical-align: middle;
}
