/*-------------------------------------------------------

     Atom name: Toggle

-------------------------------------------------------*/

.geo-toggle {
	display: inline-block;
	margin: 0 10px 20px;
	&.geo-toggle--block {
		display: block;
	}
}