/*-------------------------------------------------------

     Atom name: Chart

-------------------------------------------------------*/

.geo-chart {
	svg {
		padding: 0;
		height: 100%;
		width: 100%;
	}
}