/*-------------------------------------------------------

     Boson name: Colors

-------------------------------------------------------*/

$COLOR-PRIMARY: #4C87FF!default;

$COLOR-SECUNDARY: #88d535!default;

$COLOR-DEFAULT: #FFFFFF!default;

$COLOR-DISABLE: #5d5d5d!default;

$COLOR-FOCUS: #4c87ff!default;

$COLOR-ERROR: #e74c3c!default;

$COLOR-FONT: #747474!default;


$COLOR-GRAY-LIGHT: #ebeff2!default;