/*-------------------------------------------------------

     Boson name: Hide List

-------------------------------------------------------*/


%boson-hide-list {
  ul {
    display: none;
    position: absolute;
  }
  &:hover ul{
    display: block;
  }
}
